:root {
    --num-squares: 16;
  }

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 5px;
    margin-top: 3px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    flex-direction: column;
    padding: 0;
}

.container {
    display:flex;
    justify-content: center;
    width:800px;
    height: 800px;
    border-style: solid;
    flex-wrap:wrap;
}

.grid_square {
    border-style: solid;
    width: calc(800px/var(--num-squares));
    height: calc(800px/var(--num-squares));
    box-sizing: border-box;
    border-Width: 1px;
}

.hovered {
    background-color: black;
}